<%- include('../views/partials/header.ejs') %>



    <div class='jumbotron fullScreen center'>
        <div class='container'>
            <h1>Welcome to the Battleground</h1>
            <h2>This is where it all begins</h2>
            <button class='btn  btn-danger'>Lets Start</button>
        </div>
        
    </div>
    
    <div class='container'>
        <div class='row center'>
            <div class='col-md-4'>
                <div class='card'>
                    <h2>Updates</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consectetur, nisi quis tincidunt lacinia, felis lorem mattis enim, a bibendum nibh sapien non ante.</p>
                    <a href='#' class='btn btn-lg btn-success'>See More</a>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='card'>
                    <h2>Class Schedule</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consectetur, nisi quis tincidunt lacinia, felis lorem mattis enim, a bibendum nibh sapien non ante.</p>
                    <a href='#' class='btn btn-lg btn-success'>Schedule Class</a>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='card'>
                    <h2>Video Library</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consectetur, nisi quis tincidunt lacinia, felis lorem mattis enim, a bibendum nibh sapien non ante.</p>
                    <a href='/videos' class='btn btn-lg btn-success'>View Videos</a>
                </div>
            </div>
        </div>
    </div>


    <div class='container'>
        <div class='row center'>
            <div class='col-md-4'>
                <h2>Meet Your Instructor</h2>
            </div>
        </div>
        <div class='row about center'>
            <div class='col-md-4'>
                <h3>Rebecca Caldwell</h3>
                <p>consectetur adipiscing elit. Fusce consectetur, nisi quis tincidunt lacinia, felis lorem mattis enim, a bibendum nibh sapien non ante</p>
            </div>
            <div class='col-md-4'>
                <div class='instructorImg'></div>
            </div>
        </div>
    </div>


<%- include('../views/partials/footer') %>
